.App {
  min-height: 100vh;
  text-align: center;
  background: #ddd6f3;
  background: -webkit-linear-gradient(to right, #f8b8b4, #b7aed3);
  background: linear-gradient(to right, #f7b0ac, #b0a8ca);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: 0;
  padding: 10px;
}

.search-bar:focus {
  outline: none;
}

.search-btn {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
}

.search-btn:focus {
  outline: none;
}
